$bg-color: #333;
$font-color: #fff;
$dark-overlay: rgba(0,0,0,0.3);
$icon-size: 30px;


    
    html {
   
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden
      
    }
  
  
  body{
      background: url('../img/bg-image.jpg') no-repeat;
      background-size: cover;
      background-attachment: fixed;
      color: $font-color;
      
    font-family: 'Grand Hotel', cursive;
       width: 100%;
      // height: 100%;
      margin: 0px;
      
      overflow-x: hidden; 
      background-color: $bg-color;
}



//Navbar

  
.navbar {
  background: #e08cb3;
    
}

//Home Section

.dark-overlay{
      
  background-color: $dark-overlay;
  background-size: cover;
  
}

#home-section{
  
  background: url('../img/profilepic.jpg') no-repeat;
 
    animation: fadeInAnimation ease 3s; 
      animation-iteration-count: 1; 
      animation-fill-mode: forwards; 
      
   
  .inner{
    padding-top: 10vh;

}


    .profile-pic{
      border-radius: 50%;
      border: #e08cb3 2px solid;
      animation: fadeInAnimation ease 4s; 
      animation-iteration-count: 1; 
      animation-fill-mode: forwards; 
      margin-top: 2rem;

      
      }
    //Media in the Home Section

.home-inner{
  padding-top:7vh;

}




//Profile Pic grow animation
.grow:hover{ 
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}


// FA-Icons
.social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

.social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}

.social li a { color: #fff; }
.social li a:hover { color: #e08cb3; }




//Education Section
.education{
  background: $bg-color;
  color: $font-color;
  margin-top: 10%;


}

.edu{
  color: $font-color;
}


.eduimg{
  animation: fadeInAnimation ease 10s; 
      animation-iteration-count: 1; 
      animation-fill-mode: forwards; 
}




.info{
  margin-right: 1rem;
}

//Footer
.page-footer{
  background: #e08cb3;
  
}


//Fade in Animation for page load

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
} 




//loaded fonts
// font-family: 'Grand Hotel', cursive;
// font-family: 'Indie Flower', cursive;
// font-family: 'Lobster', cursive;
// font-family: 'Pacifico', cursive;

